.error {
    background-color: #f44336;
    color: white;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 480px;
    position: relative;
    left: -15px;
    text-align: center;
    visibility: hidden;
}