.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background: #eee;
  border: 1px solid lightGray;
  border-radius: 5px;
}

h2 {
  border-bottom: 1px solid black;
}

span.counter {
  float: right;
}

textarea {
  width: 100%
}

.error {
    background-color: #f44336;
    color: white;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 480px;
    position: relative;
    left: -15px;
    text-align: center;
    visibility: hidden;
}
