.tweet {
  margin-left: 2em;
  margin-right: 2em;
  background: white;
  border: 1px solid lightGray;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 1em;
}

.tweet:hover {
  border: 1px solid black;
}

.tweet header {
  background: #eee;
  padding-left: 0.5em;
  padding-right: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
}

.tweet:hover header {
  background: #e6e6e6;

}

.tweet .icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  filter: saturate(80%);
}

.tweet:hover .icon {
  filter: saturate(130%);
}

.tweet .flexbox {
  display: flex;
  justify-content: space-between;
}


.tweet .username {
  font-weight: bold;
  font-size: 120%;

}

.tweet .usernamePosition {
    position: relative;
    top: -50%;
    left: 5%;
}

.tweet .handle {
  font-size: 70%
}

.tweet section {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tweet footer {
  border-top: 1px solid lightGray;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: 1em;
  font-size: 80%
}

.tweet .flags {
  visibility: hidden;
}

.tweet:hover .flags {
  visibility: visible;
}
